.login {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #F7931A;
    border-radius: 15px;
  }
  
  .login h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #CD7810;
  }
  
  .login input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: #CD7810;
  }
  
  .login input:focus {
    outline: none;
  }
  
  .auth__btn {
    background: #CD7810!important;
    width: 100%;
    color: #fff !important;
  }
  
  .login p {
    font-size: 0.9rem;
    color: #fff;
    margin-top: 1.5rem;
    text-align: center;
  }
  
  .login p a {
    color: rgb(45, 64, 85);
    text-decoration: none;
    margin-left: 5px;
    font-weight: 500;
  }
  
  @media only screen and (max-width:768px) {
    .login {
      width: 70%;
      margin: auto;
      border-radius: 15px 15px 15px 15px;
    }
  }
  
  @media only screen and (max-width:576px) {
    .login {
      width: 100%;
    }
  }
  